<!--Quantity update -->
<form #quantityRef="ngForm" (ngSubmit)="updateQuantity(quantityRef.value) ">
    <mat-form-field>
        <mat-label>Product Name or ID</mat-label>
        <input matInput type="text " name="searchValue " ngModel/>
    </mat-form-field><br/>
    <mat-form-field>
        <mat-label>Quantity Wanted</mat-label>
        <input matInput type="number " name="quantity " ngModel/>

    </mat-form-field>
    <br/>
    <button class="btn btn-primary btn-block " type="submit "> Update Quantity</button>
</form>

<br/>