<!--Quantity update -->
<div id="hideQuantity" style="display:none">
    <form #quantityRef="ngForm" (ngSubmit)="updateQuantity(quantityRef.value) ">
        <mat-form-field>
            <mat-label>Product Name</mat-label>
            <input matInput type="text " name="ProductID" ngModel/>
        </mat-form-field><br/>
        <mat-form-field>
            <mat-label>Quantity Wanted</mat-label>
            <input matInput type="number " name="Quantity" ngModel/>

        </mat-form-field>
        <br/>
        <button class="btn btn-primary btn-block " type="submit "> Update Quantity</button>
    </form>

    <br/>
</div>