<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit User Profile</title>
</head>

<body>
  <div>
    <h2>Edit Your Profile Details</h2>
    <div>
      <h3>Change Password</h3>
      <form>
        <label>New Password</label>
        <input type="text" name="userpass" /><br />
        <input type="submit" name="Submit"><br>
      </form>
    </div>
    <div>
      <h3>Change Address</h3>
      <form>
        <label>New Address</label>
        <input type="text" name="useradd" /><br />
        <input type="submit" name="Submit"><br>
      </form>
    </div>
    <div>
      <h3>Change Phone Number</h3>
      <form>
        <label>New Number</label>
        <input type="tel" name="usernum" /><br />
        <input type="submit" name="Submit"><br>
      </form>
    </div>
    <div>
      <h3>Change Email</h3>
      <form>
        <label>New Email</label>
        <input type="email" name="useremail" /><br />
        <input type="submit" name="Submit"><br>
      </form>
    </div>
 
      
  </div>

</body>
</html>
