<div class="container">
    <h2>User Ticket</h2>
    <form #TicketRef="ngForm" (ngSubmit)="sendTicket(TicketRef.value)">
        <mat-form-field>
            <mat-label>Email ID</mat-label>
            <input matInput type="text" name="UserEmail" [(ngModel)]="email" readonly="readonly"/>
        </mat-form-field><br/>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput type="text" name="Description" ngModel/>
        </mat-form-field><br/>
        <pre>
<button mat-raised-button color="primary" type="submit" [disabled]="clicked">Send</button>  <button mat-raised-button color="primary" type="reset">Reset</button></pre>
    </form>
    {{Msg}}
</div>