<!--Pull user cart, test against current funds-->
<div id="hideCheckout" style="display:none">
    <table border="1" id="checkoutTable">
        <tr border="1px">
            <th style="width:12%;">Item Name</th>
            <th style="width:12%;">Price for Each</th>
            <th style="width:12%;">Quantity</th>
            <th style="width:12%;">Total Cost</th>
        </tr>
        <tbody>
        </tbody>
        <!--<tr *ngFor="let val of data">
        <td>{{this.data.Name}}</td>
        <td>{{temp}}</td>
        <td>{{data.Quantity}}</td>
        <td>10</td>
      </tr>-->
    </table><br />

    <form #orderRef="ngForm" (ngSubmit)="addOrder(orderRef.value)">
        <!--
      <mat-form-field>
        <mat-label>User ID</mat-label>
        <input matInput type="number" name="userid" ngModel />
      </mat-form-field> -->
        <mat-form-field>
            <mat-label>Order Number</mat-label>
            <input matInput type="number" name="ordernum" ngModel />
        </mat-form-field>
        <!--<button class="btn  btn-primary btn-block" type="button" (click)="addFunds()">Add Funds</button> <br /><br /><br /> -->
        <input type="submit" value="Submit" />
    </form>
    <button class="btn  btn-primary btn-block" type="button" (click)="checkout()">Checkout</button> {{output}}<br /><br /><br />
    <br />
</div>