<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="20">
        <mat-toolbar color="primary">Employee Login</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" #EmpRef="ngForm" (ngSubmit)="Login(EmpRef.value)">
        <mat-form-field>
            <mat-label>Employee Id</mat-label>
            <input matInput type="text" name="id" ngModel/>
        </mat-form-field><br/>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" name="pass" ngModel/>
        </mat-form-field><br/>
        <button mat-raised-button class="mt-5" color="primary" type="submit"><mat-icon>login</mat-icon>Login</button>
    </form>
    {{Msg}}
</mat-card>
</div>
