<div class="container">
    <h2>Login In</h2>
    <form #EmpRef="ngForm" (ngSubmit)="Login(EmpRef.value)">
        <mat-form-field>
            <mat-label>Employee Id</mat-label>
            <!-- Sorry Kanak, throwing in some extra code to test-->
            <!--<label>Employee ID</label> -->
            <input matInput type="text" name="id" ngModel/>
        </mat-form-field><br/>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" name="pass" ngModel/>
        </mat-form-field><br/>
        <pre>
<button mat-raised-button color="primary" type="submit">Sign In</button>  <button mat-raised-button color="primary" type="reset">Reset</button></pre>
    </form>
</div>