<!--Testing Branch-->
<!--Place code into a for loop for item list, append item name, item price, and throw it onto a (click) function by id-->
<!--Example item card-->
<div id="hideItems" style="display:none">
    <div class="container-fluid">
        <form action="" class="form-group">
            <div class="row">
                <div class="col-2">
                    <div class="col-sm-offset-12">
                        <div class="card">
                            <img class="card-img-top" alt="Placeholder image">
                            <div class="card-body">
                                <h5 class="card-title" id="itemOne">Rice</h5>
                                <p class="card-text" id="itemOnePrice">$19999</p>
                                <input type="button " id="itemOneAdd" class="btn btn-primary " style="float:right; " value="Add to Cart" />
                                <!--this.value='Sold Out';this.disabled=true; "> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>




        </form>
    </div>

</div>