<div class="container">
    <h2>Change Password</h2>
    <form #PassRef="ngForm" (ngSubmit)="Confirm(PassRef.value)">
        <mat-form-field>
            <mat-label>Employee Id</mat-label>
            <input matInput type="text" name="id" [(ngModel)]="ID" readonly="readonly"/>
        </mat-form-field><br/>
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput type="password" name="Newpass" ngModel/>
        </mat-form-field><br/>
        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" name="Confpass" ngModel/>
        </mat-form-field><br/>
        <pre>
<button mat-raised-button color="primary" type="submit">Confirm</button>  <button mat-raised-button color="primary" type="reset">Reset</button></pre>
    </form>
    {{Msg}}
</div>
