<!--Pull user cart, test against current funds-->
<div id="hideCheckout" style="display:none">
  <table border="1" id="checkoutTable">
    <tr border ="1px">
      <th style="width:12%;">Item Name</th>
      <th style="width:12%;">Price for Each</th>
      <th style="width:12%;">Quantity</th>
      <th style="width:12%;">Total Cost</th>
    </tr>
    <tbody>
    </tbody>
    <!--<tr *ngFor="let val of data">
      <td>{{this.data.Name}}</td>
      <td>{{temp}}</td>
      <td>{{data.Quantity}}</td>
      <td>10</td>
    </tr>-->
  </table><br />
  <button class="btn  btn-primary btn-block" type="button" (click)="checkout()">Checkout</button> <br /><br /><br />
  <br />
</div>
