<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        place button in top right corner
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, 
                   initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
</head>

<body>
    <br/>

    <div class="container">
        <input class='btn btn-primary pull-right' type="button" value="Back" (click)="back()" />
        <br/><br/>
        <h2>Update Product</h2>
        <form #productRef="ngForm" (ngSubmit)="updateItem(productRef.value)">
            <mat-form-field>
                <mat-label>Product Id</mat-label>
                <input matInput type="text" name="ProductID" ngModel/>
            </mat-form-field><br/>
            <mat-form-field>
                <mat-label>Product Price</mat-label>
                <input matInput type="text" name="ProductPrice" ngModel/>
            </mat-form-field><br/>
            <mat-form-field>
                <mat-label>Product Quantity</mat-label>
                <input matInput type="text" name="Inventory" ngModel/>
            </mat-form-field><br/>
            <br/><br/>
            <button class='btn btn-primary' type="submit">Update Product</button><br/><br/>

        </form>

        {{updateMsg}}
    </div>

    <br/><br/>
</body>

</html>