<div id="hideCart" style="display:''">
    <h2>Carted:</h2>
    <table mat-table [dataSource]="cart" class="mat-elevation-z8, w-100">
        <ng-container matColumnDef="ProductID">
            <th mat-header-cell *matHeaderCellDef>ProductID</th>
            <td mat-cell *matCellDef="let item">{{item.ProductID}}</td>
        </ng-container>

        <ng-container matColumnDef="ProductName">
            <th mat-header-cell *matHeaderCellDef>Product Name</th>
            <td mat-cell *matCellDef="let item">{{item.ProductName}}</td>
        </ng-container>

        <ng-container matColumnDef="ProductPrice">
            <th mat-header-cell *matHeaderCellDef>Product Price</th>
            <td mat-cell *matCellDef="let item">{{item.ProductPrice}}</td>
        </ng-container>

        <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let item">
                <input matInput type="number" name="quantity" id="changed" step="1" value={{item.Quantity}}>
            </td>
        </ng-container>



        <ng-container matColumnDef=" ">
            <th mat-header-cell *matHeaderCellDef>Remove</th>
            <td mat-cell *matCellDef="let item "> <button mat-button (click)="deleteItem(item) ">Remove</button>
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns "></tr>

        <!--To do: Input the row names after we retrieve-->
    </table>
</div>