<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>

    <br/>
    <br/>
    <!--Testing Branch-->
    <!--Place code into a for loop for item list, append item name, item price, and throw it onto a (click) function by id-->
    <!--Example item card-->
    <div class="container-fluid">
        <form action="" class="form-group">
            <div class="row">
                <div class="col-2">
                    <div class="col-sm-offset-12">
                        <div class="card">
                            <img class="card-img-top" alt="Placeholder image">
                            <div class="card-body">
                                <h5 class="card-title" id="itemOne">Rice</h5>
                                <p class="card-text" id="itemOnePrice">$19999</p>
                                <input type="button " id="itemOneAdd" class="btn btn-primary " style="float:right; " value="Add to Cart" />
                                <!--this.value='Sold Out';this.disabled=true; "> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>




        </form>
    </div>

    <div>

        <!--Pull from backend database/array of user cart items, users should have an array of groceries currently in their cart-->

        <app-delete-item-cart></app-delete-item-cart>
        <br/>

        <!--Quantity update -->
        <input type="text" #quantityRef/><br/>
        <br/>
        <input type="button" value="Update Quantity" (click)="updateQuantity(quantityRef.value, 1)" /> </div>


</body>

</html>