<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Document</title>

</head>

<body>

    <div style="padding-left:30px">
        <div class="container">
            <div class="row">
                <div class="col-xs-offset 1 ">
                    <div class="btn-toolbar" role="toolbar">

                        <div class="btn-group btn-group-justified" role="group">

                            <div class="btn-group" role="group">
                                <button class="btn btn-primary" data-original-title="Items" (click)="toggleFeature('hideItems')">Items</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary" data-original-title="Cart" (click)="toggleFeature('hideCart')">Cart</button>
                            </div>

                            <div class="btn-group " role="group ">
                                <button class="btn btn-primary " data-original-title="fund " (click)="toggleFeature('hideFunds') ">Funds</button>
                            </div>
                            <div class="btn-group " role="group ">
                                <button class="btn btn-primary " data-original-title="order " (click)="toggleFeature('hideOrderStatus') ">Orders</button>
                            </div>
                            <div class="btn-group " role="group ">
                                <button class="btn btn-primary " data-original-title="Activate " (click)="toggleFeature('hideCheckout') ">Checkout</button>
                            </div>

                            <div class="btn-group " role="group ">
                                <button class="btn btn-secondary " data-original-title="profile " (click)="toggleFeature('hideEditProfile')">Edit Profile</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>








    </div>
    <br/>
    <div style="padding-left:40px; ">
        <app-user-edit-profile></app-user-edit-profile>
        <app-view-item></app-view-item>
        <br/>
        <app-show-cart *ngIf="condition "></app-show-cart>
        <br/>
        <br/><br/>
        <app-checkout></app-checkout>
        <app-funds></app-funds>
        <app-order-status></app-order-status>

        <br/>
    </div>
</body>

</html>