<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
</head>
<div class="navbar-menu is-bold" style="position: absolute;top: 0%;right: 0%;">
    <a class="navbar-item" routerLink="UserLogin" style="color:blue;"><b>User Login/Sign Up</b></a>
    <a class="navbar-item" routerLink="EmpLogin" style="color:blue;"><b>Employee Login</b></a>
    <a class="navbar-item" routerLink="AdminLogin" style="color:blue;"><b>Admin Login</b></a>
</div>
<section class="hero is-info is-bold is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title" style="color: rgb(0, 0, 0);font-size: 50px;">Welcome to Grocer</h1>
     </div>
   </div>
  </section>