<div id="hideEditProfile" style="display:none">
    <h2>Edit Your Profile Details</h2>

    <h3>Enter UserID</h3>
    <form #updateRef="ngForm" (ngSubmit)="updateInfo(updateRef.value)">
        <mat-form-field>
            <mat-label>UserID: </mat-label>
            <input matInput type="text" name="userID" ngModel /><br />
        </mat-form-field>

        <h3>Change Password</h3>

        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput type="text" name="userpass" ngModel /><br />
        </mat-form-field>


        <h3>Change Address</h3>

        <mat-form-field>
            <mat-label>New Address</mat-label>
            <input matInput type="text" name="useradd" ngModel /><br />
        </mat-form-field>



        <h3>Change Phone Number</h3>

        <mat-form-field>
            <mat-label>New Number</mat-label>
            <input matInput type="text" name="usernum" ngModel /><br />
        </mat-form-field>


        <h3>Change Email</h3>

        <mat-form-field>
            <mat-label>New Email</mat-label>
            <input matInput type="text" name="useremail" ngModel /><br />
        </mat-form-field>
        <br /><br />
        <input type="submit" value="Submit" /> {{output}}<br /><br /><br /><br />
    </form>
</div>