<div class="container">
    <h2>Send Request</h2>
    <form #ProdRef="ngForm" (ngSubmit)="SendRequest(ProdRef.value)">
        <mat-form-field>
            <mat-label>Employee Id</mat-label>
            <input matInput type="text" name="Empid" [(ngModel)]="ID" readonly="readonly"/>
        </mat-form-field><br/>
        <mat-form-field>
            <mat-label>Product Name</mat-label>
            <input matInput type="text" name="pname" ngModel/>
        </mat-form-field><br/>
        <mat-form-field>
            <mat-label>Request</mat-label>
            <textarea matInput name="request" cols="10" rows="3" ngModel></textarea>
        </mat-form-field><br/>
        <mat-form-field>
            <mat-label>Status</mat-label>
            <input matInput type="" name="status" [(ngModel)]="Status" readonly="readonly"/>
        </mat-form-field><br/>
        <pre>
<button mat-raised-button color="primary" type="submit">Send</button>  <button mat-raised-button color="primary" type="reset">Reset</button></pre>
    </form>
    {{Msg}}
</div>