<div class="container">
    <mat-grid-list cols="2" rowHeight="500px">
      <mat-grid-tile cols="3" rows="8">
      <mat-card>
          <mat-card-header>
              <mat-card-title>Unlock User</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <form #UserRef="ngForm" (ngSubmit)="Unlock(UserRef.value)">
                  <mat-form-field>
                      <mat-label>User Email</mat-label>
                      <input matInput type="text" name="email" ngModel/>
                  </mat-form-field><br/>
  <pre><button mat-raised-button color="primary" type="submit">Unlock</button>  <button mat-raised-button color="primary" type="reset">Reset</button></pre>
      </form>
      {{Msg}}
      </mat-card-content>
     </mat-card>
   </mat-grid-tile>
   <mat-grid-tile>
      <mat-card >
          <mat-card-header>
              <mat-card-title>Tickets</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <table class="myTable" id="tickets">
                  <thead>
                      <tr>
                      <th>User Email</th>
                      <th>Reason</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let ticket of tickets">
                          <td>{{ticket.UserEmail}}</td>
                          <td>{{ticket.Description}}</td>
                          <td></td>
                      </tr>
  
                  </tbody>
              </table>
          </mat-card-content>
      </mat-card>
   </mat-grid-tile>
  </mat-grid-list>
  </div>
  